body {
    background-color: #F8F8F8;
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 20px;
    margin-left: calc((100% - 800px) / 2);
}

    header {
        display: inline-block;
        width: 100%;
    }
        .logo {
            display: inline-block;
            float: left;
            height: 60px;
        }
        nav {
            display: inline-block;
            float: right;
            margin-top: 20px;
            font-size: 20px;
        }
            a {
                display: inline-block;
                float: left;
                margin-left: 25px;
                font-size: 20px;
                line-height: 20px;
                text-decoration: none;
                color: #bcbcbc;
            }
                .btn {           
                   text-transform: uppercase;
                   font-size: 15px;
                   border-radius: 20px;
                   margin-top: -4px;
                   padding: 2px;
                   padding-left: 15px;
                   padding-right: 15px;
                   border: 2px solid #bcbcbc;
                }
    section {
        display: inline-block;
        width: 100%;
        margin-top: 80px;
    }
        div {
            display: inline-block;
            float: left;
            width: 42%;
            margin-top: 40px;
            margin-left: 4%;
            margin-right: 4%;
        }
            h1 {
                display: inline-block;
                width: 100%;
                font-size: 80px;
                line-height: 80px;
                color: #bcbcbc;
            }
            p {
                display: inline-block;
                width: 100%;
                color: #bcbcbc;
                font-size: 30px;
            }
        .girl {
            display: inline-block;
            float: right;
            width: 42%;
            margin-left: 4%;
            margin-right: 4%;
        }        